{%- assign product = section.settings.product | default: product -%}
{%- if block.settings.text != blank -%}
  <p class="product-info__subheading secondary {{ block.settings.font_style }}" {{ block.shopify_attributes }}>
    {{ block.settings.text | escape }}
  </p>
{%- endif -%}

{% schema %}
{
  "name": "t:subtitle",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:text",
      "default": "{{ product.metafields.descriptors.subtitle.value }}",
      "info": "t:learn-more-about-product-subtitles"
    },
    {
      "type": "select",
      "id": "font_style",
      "options": [
        {
          "value": "heading h1",
          "label": "t:heading-1",
          "group": "Heading"
        },
        {
          "value": "heading h2",
          "label": "t:heading-2",
          "group": "Heading"
        },
        {
          "value": "heading h3",
          "label": "t:heading-3",
          "group": "Heading"
        },
        {
          "value": "heading h4",
          "label": "t:heading-4",
          "group": "Heading"
        },
        {
          "value": "heading h5",
          "label": "t:heading-5",
          "group": "Heading"
        },
        {
          "value": "heading h6",
          "label": "t:heading-6",
          "group": "Heading"
        },
        {
          "value": "subheading",
          "label": "t:subheading",
          "group": "Heading"
        },
        {
          "value": "caption",
          "label": "t:caption",
          "group": "Caption"
        },
        {
          "value": "caption-xs",
          "label": "t:xsmall-caption",
          "group": "Caption"
        },
        {
          "value": "body text-xl",
          "label": "t:xlarge-body",
          "group": "Body"
        },
        {
          "value": "body text-l",
          "label": "t:large-body",
          "group": "Body"
        },
        {
          "value": "body",
          "label": "t:body",
          "group": "Body"
        },
        {
          "value": "body text-s",
          "label": "t:small-body",
          "group": "Body"
        },
        {
          "value": "body text-xs",
          "label": "t:xsmall-body",
          "group": "Body"
        }
      ],
      "default": "heading h6",
      "label": "t:font-style"
    }
  ],
  "presets": [
    {
      "name": "t:subtitle"
    }
  ]
}
{% endschema %}