{% # theme-check-disable UnusedAssign %}
{%- liquid
  assign fetch_priority = 'auto'
  assign loading = 'lazy'
  if section.index == 1 and section.location != 'footer'
    assign fetch_priority = 'high'
    assign loading = 'eager'
  endif
-%}

{%- capture content -%}
  <div class="shoppable-banner__products v-stack">
    {%- content_for 'blocks' -%}
  </div>
{%- endcapture -%}

<div class="shoppable-banner" {{ block.shopify_attributes }} {% render 'color-scheme-attributes' with scoped_settings: section.settings %}>
  {%- render 'media-banner-padding' with settings: block.settings, id: block.id %}
  {%-
    render 'media-banner', with
    settings: block.settings,
    content: content,
    id: block.id,
    fetch_priority: fetch_priority,
    loading: loading,
    enable_banner_click: block.settings.enable_banner_click
  -%}
</div>

{% schema %}
{
  "name": "t:shoppable-banner",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:media"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:image",
      "info": "t:choose-between-video-or-image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:mobile-image-optional"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:video"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "t:mobile-video-optional"
    },
    {
      "type": "header",
      "content": "t:video-settings"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "t:enable-autoplay",
      "default": false,
      "info": "t:due-to-browser-policy-autoplaying-video-will-be-muted"
    },
    {
      "type": "select",
      "id": "play_button_display",
      "options": [
        {
          "value": "always",
          "label": "t:always"
        },
        {
          "value": "hover_focus",
          "label": "t:on-hoverfocus"
        }
      ],
      "default": "always",
      "label": "t:play-button-display"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:button-style",
      "options": [
        {
          "value": "primary",
          "label": "t:primary"
        },
        {
          "value": "secondary",
          "label": "t:secondary"
        },
        {
          "value": "text",
          "label": "t:text"
        }
      ],
      "default": "text"
    },
    {
      "type": "select",
      "id": "button_alignment",
      "label": "t:button-alignment",
      "options": [
        {
          "value": "top-left",
          "label": "t:top-left"
        },
        {
          "value": "middle-center",
          "label": "t:center"
        },
        {
          "value": "top-right",
          "label": "t:top-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:layout"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:adapt-to-media"
        },
        {
          "value": "small",
          "label": "t:small"
        },
        {
          "value": "medium",
          "label": "t:medium"
        },
        {
          "value": "large",
          "label": "t:large"
        },
        {
          "value": "fit",
          "label": "t:fit-screen"
        }
      ],
      "default": "adapt",
      "label": "t:desktop-height"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:adapt-to-media"
        },
        {
          "value": "small",
          "label": "t:small"
        },
        {
          "value": "medium",
          "label": "t:medium"
        },
        {
          "value": "large",
          "label": "t:large"
        },
        {
          "value": "fit",
          "label": "t:fit-screen"
        }
      ],
      "default": "adapt",
      "label": "t:mobile-height"
    },
    {
      "type": "select",
      "id": "stack",
      "label": "t:stack-content",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:never"
        },
        {
          "value": "mobile",
          "label": "t:mobile"
        },
        {
          "value": "always",
          "label": "t:always"
        }
      ]
    },
    {
      "type": "select",
      "id": "spacing",
      "options": [
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "0px",
      "label": "t:media-frame"
    },
    {
      "type": "select",
      "id": "media_content_padding",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:media-content-padding",
      "info": "t:default-aligns-content-to-page-where-possible-may-only-be"
    },
    {
      "type": "header",
      "content": "t:products"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:left"
        },
        {
          "value": "center",
          "label": "t:center"
        },
        {
          "value": "right",
          "label": "t:right"
        }
      ],
      "default": "left",
      "label": "t:horizontal-alignment"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "options": [
        {
          "value": "top",
          "label": "t:top"
        },
        {
          "value": "middle",
          "label": "t:middle"
        },
        {
          "value": "bottom",
          "label": "t:bottom"
        }
      ],
      "default": "bottom",
      "label": "t:vertical-alignment"
    },
    {
      "type": "header",
      "content": "t:colors"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "t:enable-overlay",
      "default": false,
      "info": "t:add-an-optional-overlay-to-improve-readability"
    },
    {
      "type": "color_background",
      "id": "overlay",
      "label": "t:overlay-color",
      "default": "linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0))"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-scheme",
      "default": "scheme-4"
    },
    {
      "type": "checkbox",
      "id": "enable_color_scheme_transition",
      "label": "t:use-color-scheme-transition",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_transition",
      "label": "t:transition-color-scheme",
      "default": "scheme-2"
    }
  ],
  "blocks": [
    {
      "type": "mini-product"
    }
  ],
  "presets": [
    {
      "name": "t:shoppable-banner",
      "blocks": [
        {
          "type": "mini-product"
        }
      ]
    }
  ]
}
{% endschema %}
