{{ 'section-purchase-event-offer.css' | asset_url | stylesheet_tag }}

{% assign offered_product = section.settings.offered_product %}

{% if offered_product %}
    <div>
        {% if section.settings.title %}
            <h4>{{ section.settings.title | t }}</h4>
        {% endif %}

        <div class="purchase-product-offer-wrapper">
            <div class="pdp__media">
                {% render 'event-offer-product-media' with id: section.id, product: offered_product %}
            </div>
            <div>
                {% for block in section.blocks %}
                    {% render block.type %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "t:sections.purchase_event_offer.name",
    "settings": [
        {
            "type": "inline_richtext",
            "label": "t:title",
            "id": "title"
        },
        {
            "type": "product",
            "label": "t:product",
            "id": "offered_product"
        }
    ],
    "blocks": [
        {
            "type": "_pdp-title",
        },
        {
            "type": "_pdp-price"
        },
        {
            "type": "_pdp-description"
        },
        {
            "type": "_pdp-variant-picker"
        },
        {
            "type": "_pdp-buy-buttons"
        }
    ],
    "presets": [
        {
            "name": "t:sections.purchase_event_offer.name"
        }
    ]
}
{% endschema %}