.purchase-product-offer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.purchase-product-offer-wrapper .pdp__media {
    grid-column: 1;
}

.purchase-product-offer-wrapper .pdp__media .pdp-thumbnails__main-wrapper img {
    max-width: 350px;
    max-height: 350px;
}

.purchase-product-offer-wrapper .buy-buttons {
    margin-block-start: var(--margin-block-start, var(--space-m-l));
}